
.center {
    text-align:center
}
.image {
    width:80%;
    display: block; 
    margin: 0 auto;
}
.table {
    border:1px solid black;
    width:80%;
    margin:0 auto;
}
.table th, .table td {
    border: 1px solid black; 
    width: 14%;
    padding: 10px;
}
.day {
    background-color: #dadada;
}
.sunday {
    color:red; background-color:#dadada;
}
.saturday {
    color:blue; background-color: #dadada;
}
.blue {
    color:blue;
}
.red {
    color:red;
}
